<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/components/field.css" />
    <link rel="stylesheet" href="../../styles/components/button.css" />
    <link rel="stylesheet" href="../../styles/components/admin/navigation.css" />
    <link rel="stylesheet" href="../../styles/admin/signin.css" />
    <link rel="icon" type="image/x-icon" href="assets/logo.ico">
</head>
<body>
    <nav>
        <a href="/">Back</a>
    </nav>
    <form>
        <div class="field">
            <label for="email">E-mail</label>
            <input type="email" id="email" />
            <span id="email-error"></span>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" />
            <span id="password-error"></span>
        </div>
        <button type="button" onclick="signIn()">Sign In</button>
    </form>
    <script src="../js/client/signin.js"></script>
    <script src="../js/components/password.js"></script>
    <script src="../js/components/email.js"></script>
</body>
</html>